@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}


#main-container {
    margin: auto;
    max-width: 1024px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 15px;
    margin-bottom: 20px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
#form-container {
    /*border: 3px solid #333;*/
    border-radius: 15px;


}
#form {
    text-align: center;
    /*display: inline-block;*/
    width: 100%;
    margin: 0 auto;

}

.center {
    margin: auto;
    width: 50%;

    padding: 10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #333;
    color: aliceblue;
}

.invisibutton {
    height: 1px;
    width: 1px;
    display: none;
    vertical-align: text-bottom;
}

/*label {*/
/*    color: greenyellow;*/
/*    text-decoration: none;*/
/*}*/

.right {
    float: right;
}
#title {
    width: 25%;
    border: 2px solid #333;
    border-radius: 15px;
}
#content {
  width: 50%;
  height: 200px;
  border: 2px solid #333;
  border-radius: 15px;
  resize: none;
}
.alert {
    margin: auto;
    background-color: 	#ee1f26;
    border: 2px solid #333;
    border-radius: 15px;
    opacity: 0.5;
    color: white;
}

.notify {
    margin: auto;
    border: 2px solid #333;
    border-radius: 15px;
    background-color: 	#048c44;
    opacity: 0.5;
    color: white;
}